/* Key | Requirements met on page: D.     line 10
   ____|                           D.1.   line 45
                                   D.2.   line 268
                                   D.3.   line 87
                                   D.4.   line 99
                                   D.5.   line 208
                                   D.6.1. line 27
                                   D.6.2. line 34
                                   D.6.3. line 199 */
/* D. Create 1 external CSS stylesheet */
/* Color palette */

:root {
    --bg1: #d6e6d6;
    --bg2: #b3c3b3;
    --bg3: #809580;
    --bg4: #405040;
    --txt1: #000500;
    --txt2: #202520;
    --txt3: #405040;
    --txt4: #3a3a9a;
    --a1: #000080;
    --a2: #800000;
    --a3: #600060;
}

/* D.6.1 a functioning element selector that is used at least once on the website */
credit {
    color: var(--txt4);
}

/* Class regularly used throughout website to remove unwanted spacing */

/* D.6.2 a functioning class selector that is used twice on the same HTML page */
.no-space {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Applies "default" font and background styling to webpages */

body {
    font-size: 16px;
/* D.1. Font Family declaration */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--txt1);
    background-color: var(--bg4);
}

/* Applies standard layout and styling to aside of all pages */

header {
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 10%;
    width: 100%;
    background-color: var(--bg1);
    & h1 {
        display: block;
        width: 25%;
        font-size: 1.5rem;
        text-align: center;
        background-color: var(--bg2);
    }

/* Applies standard layout and styling to navigation of all pages. */
/* Later content styles links and dropdown, as well as changes for smaller screens */

    & nav {
        min-width: 37.5%;
        font-size: 1.5rem;
        background-color: var(--bg2);
        & .dropdown-button {
            font-weight: 600;
        }
        & .dropdown-content {
            width: 37.5%;
            & p, & a {
                font-weight: 600;
            }
            & .down-arrow {
/* D.3. a float property to position one HTML element within the website to the side of another element */
                float: inline-end;
                background-color: var(--bg2);
            }
        }
    }
}

/* Applies standard layout and styling to aside of all pages */

aside {
    z-index: 1;
/* D.4. absolute positioning that changes the position of an element */
    position: absolute;
    top: 10%;
    display: flex;
    height: 90%;
    width: 25%;
    align-items: center;
    justify-content: center;
    background-color: var(--bg4);
    color: var(--txt1);
    & figure {
        position: fixed;
        top: 30%;
        width: 20%;
        & img {
            width: 100%;
            object-fit: contain;
        }
        & figcaption {
            width: 100%;
            padding: 4% 0;
            font-size: 1rem;
            text-align: center;
            background-color: var(--bg2);
            color: inherit;
            & a {
                background-color: var(--bg1);
            }
        }
    }
}

/* Applies majority of style & layout to main content area of webpages */

main {
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 25%;
    display: block;
    width: 75%;
    background-color: var(--bg3);
    color: var(--txt2);
    & section {
        padding: 2.5% 5%;
    }
    & #section1, & #section3 {
        color: inherit;
        background-color: inherit;
    }
    & #section2 {
        color: var(--txt3);
        background-color: var(--bg2);
    }
    & ol, & ul {
        padding: 0 0 0 2.5%;
    }
    & li::marker {
        font-weight: bold;
    }
    & table {
        width: 100%;
        border: 0.5rem solid;
        border-collapse: collapse;
        border-color: var(--bg4);
    }
    & td, & th {
        text-align: center;
        border: 0.1rem solid;
        border-right: 0.5rem solid;
        background-color: var(--bg2);
        border-color: var(--bg4);
    }
    & a {
        text-align: center;
        background-color: var(--bg1);
    }
    & form {
        position: fixed;
        width: 50%;
        top: 20%;
        left: 25%;
        display: flex;
        flex-direction: column;
        background-color: var(--bg4);
        & label {
            display: inline-block;
            background-color: var(--bg2);
        }
        & input {
            padding: 0;
            border: 0;
            height: 2rem;
            display: inline-block;
        }
    }
}

/* Applies style & layout changes to homepage from interior pages */

/* D.6.3 a functioning id selector used at least once on the website */
#state {
    & main {
        section {
            display: flex;
            justify-content:space-between;
            padding-bottom: 0%;
            & hgroup {
                & h2 {
/* D.5. relative positioning on one page that changes the position of an element */
                    position: relative;
                    right: 5%;
                }
                width: 50%;
                padding-bottom: 2.5%;
            }
            & figure {
                display: block;
                width: 30%;
                & img {
                    width: 100%;
                    object-fit: contain;
                }
                & figcaption {
                    text-align: center;
                    color: var(--txt3);
                    background-color: var(--bg1);
                }
            }
        }
        & #section1, & #section3 {
            flex-direction: row;
        }
        & #section2 {
            flex-direction: row-reverse;
        }
    }
}

/* Stylizes and enables navigation dropdown feature */

.dropdown-button {
    display: block;
    border: none;
    outline: none;
    text-align: center;
    color:var(--txt2);
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    & .down-arrow {
        color: var(--txt3)
    }
}
.dropdown-content {
    display: none;
    z-index: 4;
    position: absolute;
    background-color: var(--bg3);
    & a, p {
        display: block;
        background-color: var(--bg2);
        margin: 0;
        padding: 0.1rem;
    }
    & p {
        border-bottom: var(--txt2) 0.1rem solid;
        padding-bottom: 0%;
    }
/* D.2. :hover pseudo-class to create a rollover effect for the navigation links */
    & a:hover {
        border: var(--bg4) 0.1rem solid;
        padding: 0;
    }
}

.dropdown-container:hover {
    background-color: var(--bg1);
    & .dropdown-content {
        display: block;
    }
}

/* Stylizes responsive links */

a {
    display: block;
    text-decoration: none;
}
a:link {
    color: var(--a1);
}
a:visited {
    color: var(--a2);
}
a:hover {
    font-weight: 600;
    background-color: var(--bg1);
}
a:active {
    color: var(--a3);
    border-color: var(--a3);
    background-color: var(--bg2);
}

/* Maintains accessibility on smaller screens with minor layout modifications */

@media screen and (max-width: 600px) {
    header, aside, main {
        position: relative;
        width: 100%;
        left: 0;
        margin: 5% 0;
        padding: 2.5% 0;
        & form {
            position: inherit;
            left: unset;
            top: unset;
        }
    }
    header {
        margin-top: 0;
        flex-direction: column;
        & h1 {
            background-color: inherit;
        }
    }
    nav, button, .dropdown-content, form, form:first-child {
        width: 100%;
        text-align: center;
    }
    aside {
        figure {
            position: unset;
            width: 90%;
        }
    }
    #section1, #section2, #section3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    li{
        margin-left: 1rem;
    }
    h2, p {
        text-align: center;
    }
    img {
        padding: 0 12.5%;
        max-width: 75%;
    }
}