main {
  background-color: var(--color-evergreen-accent);

  * {
    line-height: 1.25rem;
  }
}

.section-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 1.5rem;
  border: 0.1rem solid var(--color-evergreen-highlight);
  background-color: var(--color-evergreen-background);
  border-radius: 1rem;
  img{
    float: left;
    height: auto;
    border: 0.3rem solid var(--color-evergreen-highlight);
    border-radius: calc((92vw * 0.3)/2); /* Makes the image circular, assuming it's a square.*/
    }
  figcaption{
    text-align: center;
    margin-top: 1rem;
    color: var(--color-evergreen-text);
    
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
.column-left {
  float: left;
  width: calc((92vw * 0.3));
}

a{
  cursor: pointer;

  text-decoration: none;

  background-color: var(--color-evergreen-background);
  color: var(--color-evergreen-text);
  border: var(--color-evergreen-background) 0.1rem solid;
  border-radius: 0.5rem;
}
a:link {
  color: var(--color-cloud-text);
}
a:visited {
  color: var(--color-evergreen-text);
}
a:hover {
  border: var(--color-evergreen-highlight) 0.1rem solid;
  background-color: var(--color-evergreen-accent);
}
a:active {
  border: var(--color-evergreen-highlight) 0.1rem solid;
  background-color: var(--color-evergreen-highlight);
}

h1::after, h2::after{
  content: '';
  display: block;
  width: 100%;
  height: 2rem;
  background-color: var(--color-evergreen-highlight);
}

p::after{
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  background-color: var(--color-evergreen-highlight);
}
