main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-image: var(--gradient-cloud-background);

  * {
    line-height: 1.25rem;
  }
}

h1, h2, h3{
  color: var(--color-evergreen-text);
}

p{
  width: 90%;
  text-indent: 1rem;
}

.page-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 1.5rem;
  border: 0.1rem solid var(--color-evergreen-highlight);
  background-color: var(--color-evergreen-background);
  border-radius: 1rem;
  img{
    float: left;
    height: auto;
    border: 0.3rem solid var(--color-evergreen-highlight);
    border-radius: 50%;
    }
  figcaption{
    text-align: center;
    margin-top: 1rem;
    
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.section-content, .section-intro{
  margin: 0;
  padding: 1.5rem;
  border: 0.1rem solid var(--color-evergreen-highlight);
  background-color: var(--color-evergreen-background);
  border-radius: 1rem;
}

.section-intro{
  border-bottom: dashed 0.3rem var(--color-evergreen-highlight);
}

.section-content{
  border-top: none;
}

.popup-container {
  text-indent: 0; /* override p indent */

  position: relative;
  display: inline-block;
}

.popup-container .popup-content {
  position: absolute;
  bottom: 100%;             /* Places the popup directly below the trigger element */
  left: 50%;
  transform: translateX(-50%); /* Centers the popup horizontally */
  
  max-width: 20rem;
  max-height: 15rem;
  height: auto;
  overflow: auto;       /* Enables scrolling if content exceeds max height */
  z-index: 2;           /* Ensures it stacks above surrounding content */
  
  /* Hiding properties optimized for smooth transition animations */
  background-color: var(--color-evergreen-background-translucent);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.popup-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;

  img{
    border: 0.1rem solid var(--color-evergreen-highlight);
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

/* Hover trigger state changes visibility rules */
.popup-container:hover .popup-content {
  border: 0.2rem solid var(--color-evergreen-text);
  border-radius: 1rem;
  color: var(--color-evergreen-text);
  background-color: var(--color-evergreen-background);
  opacity: 1;
  visibility: visible;
  box-shadow: 0 0.3rem 0.3rem var(--color-cloud-dark);
}

.popup-container:active{
  .popup-content {
    border-color: var(--color-evergreen-accent);
  }
}

a{
  display: inline-block;
  position: relative;
  cursor: pointer;
  /* override p indent */
  text-indent: 0;
  border-radius: 0.75rem;
  padding: 0.125rem 0.5rem;

  text-decoration: none;

  background-color: var(--color-evergreen-highlight);
}
a:visited {
  color: var(--color-cloud-text);
}
a:link {
  color: var(--color-evergreen-text);
}
a:hover {
  transition: ease-in-out 0.3s;
  transform: scale(1.3);
  border-radius: 0 0 1rem 1rem;
  color: var(--color-evergreen-background);
  background-color: var(--color-evergreen-text);
  box-shadow: 0 0.3rem 0.5rem var(--color-cloud-dark);
}
a:active {
  transition: ease-in-out 0.2s;
  background-color: var(--color-evergreen-accent);
}

h1::after, h2::after, h3::after{
  content: '';
  display: block;
  width: 100%;
  height: 2rem;
}

p::after{
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
}
