:root {
  /* Palette inspired by Hurricane Ridge, WA found here: https://wa.gov/sites/default/files/styles/topic_banner/public/2022-05/hurricane-ridge.jpg?itok=6sy6qzel*/
  /* Core Color Palette */
  --color-cloud-light:#fafaffff;
  --color-cloud-medium-light:#9898ADff;
  --color-cloud-medium-dark:#3E3E4Fff;
  --color-cloud-dark:#020210ff;
  --color-evergreen-light: #e7f6b4ff;
  --color-evergreen-medium-light:#96aa4dff;
  --color-evergreen-medium-dark:#34601dff;
  --color-evergreen-dark: #0f2802ff;
  --color-sky-light:#c0e1f4ff;
  --color-sky-medium-light: #8db9d6ff;
  --color-sky-medium-dark: #2e5c7dff;
  --color-sky-dark: #021d28ff;
  --color-wood-light: #fff0d6ff;
  --color-wood-medium-light: #cea962ff;
  --color-wood-medium-dark: #624119ff;
  --color-wood-dark: #271602ff;

  /* Light Color Scheme

    text = dark
    accent = medium-dark
    highlight = medium-light
    background = light
  */
  --color-cloud-background:var(--color-cloud-light);
  --color-cloud-highlight:var(--color-cloud-medium-light);
  --color-cloud-accent:var(--color-cloud-medium-dark);
  --color-cloud-text:var(--color-cloud-dark);

  --color-evergreen-background:var(--color-evergreen-light);
  --color-evergreen-highlight:var(--color-evergreen-medium-light);
  --color-evergreen-accent:var(--color-evergreen-medium-dark);
  --color-evergreen-text:var(--color-evergreen-dark);

  --color-sky-background:var(--color-sky-light);
  --color-sky-highlight:var(--color-sky-medium-light);
  --color-sky-accent:var(--color-sky-medium-dark);
  --color-sky-text:var(--color-sky-dark);

  --color-wood-background:var(--color-wood-light);
  --color-wood-highlight:var(--color-wood-medium-light);
  --color-wood-accent:var(--color-wood-medium-dark);
  --color-wood-text:var(--color-wood-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Color Scheme

      text = light
      accent = medium-light
      highlight = medium-dark
      background = dark
    */
    --color-cloud-text: var(--color-cloud-light);
    --color-cloud-accent: var(--color-cloud-medium-light);
    --color-cloud-highlight:var(--color-cloud-medium-dark);
    --color-cloud-background: var(--color-cloud-dark);

    --color-evergreen-text: var(--color-evergreen-light);
    --color-evergreen-accent: var(--color-evergreen-medium-light);
    --color-evergreen-highlight:var(--color-evergreen-medium-dark);
    --color-evergreen-background: var(--color-evergreen-dark);

    --color-sky-text: var(--color-sky-light);
    --color-sky-accent: var(--color-sky-medium-light);
    --color-sky-highlight:var(--color-sky-medium-dark);
    --color-sky-background: var(--color-sky-dark);

    --color-wood-text: var(--color-wood-light);
    --color-wood-accent: var(--color-wood-medium-light);
    --color-wood-highlight:var(--color-wood-medium-dark);
    --color-wood-background: var(--color-wood-dark);
  }
}

html{
  /* Standard sans serif fonts*/
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  width: 100vw;
  * {
    padding: 0;
    margin: 0;
  }
}

body{
  width: inherit;
  display: flex;
  flex-direction: row;
  background-color: var(--color-cloud-background);
}

h1{
  font-family: "Dela Gothic One","Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 5rem;
  color: var(--color-cloud-text);
  letter-spacing: +.125rem;
  @media (prefers-color-scheme: dark){
    color: var(--color-wood-light);
  }
}

.subtitle{
  font-family: "Familjen Grotesk","Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 3rem;
  font-weight: 400;
  color: var(--color-cloud-accent);
}

h2{
  font-family: "Familjen Grotesk","Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-cloud-text);
}

h3{
  font-family: "Familjen Grotesk","Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-cloud-text);
}

p,li,.copy{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-cloud-text);
}

strong,.emphasized{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-wood-accent);
}

i,.note{
  font-family: "Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-evergreen-accent);
}

button{
  font-family: "Familjen Grotesk","Inter",-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 700;
  /*
    Buttons have a fixed appearance regardless of light/dark preference.
    If buttons contain links, they are blue, else they are green.
  */
  color:var(--color-evergreen-dark);
  background-color: var(--color-evergreen-medium-light);
  border: var(--color-evergreen-medium-dark) 0.1rem solid;
  border-radius: .25rem;

  cursor: pointer;
  
}

button:has(a){
  color: var(--color-sky-dark);
  background-color: var(--color-sky-medium-light);
  border-color: var(--color-sky-medium-dark);
}

button a,button a:link,button a:visited,button a:hover,button a:active {
  color: var(--color-sky-dark);
  background-color: none;
  border-color: none;
}

button:has(a:hover){
  transition: ease-in-out 100ms;
  background-color: var(--color-sky-light);
  border-color: var(--color-sky-medium-light);
}

button:has(a:active){
  background-color: var(--color-sky-medium-dark);
  border-color: var(--color-sky-medium-dark);
}

aside{
  display: inline-flex;
  flex-direction: column;
  position:sticky;

  height: 100vh;
  width: 8vw;
  
  background-color: var(--color-sky-background);
  border-right: 0.1rem solid var(--color-sky-highlight);

  nav{
    height: 100vh;
    width: 8vw;
    position: fixed;

    cursor:default;

    ul{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      height: 100%;
    }

    li{
      list-style-type: none;
    }

    li.supernav::after{
      /* Inserts a small arrow between page header and element references. */
      content: '▾';
      display: block;
      width: 100%;
      height: 2rem;
      color: var(--color-sky-accent);
      text-align: center;
      font-size: 1.5rem;
    }

    li.supernav::before{
      /* Inserts a thick divider between sections */
      content: '';
      display: block;
      width: 100%;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      height: .5rem;
      background-color: var(--color-sky-highlight);
    }

    > *{
      padding: 0;
      margin: 0;
    }
    .nav-header {
      text-align: center;
    }
    a, button{
      height: 3rem;
      width: 7vw;
    }
    button {
      margin: 0.3rem;
    }
    a {
      position: relative;
      right: 0.1rem;
      bottom: 0.1rem;

      display: inline-flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      text-align: center;

      border-radius: 0.5rem;
      text-decoration: none;
    }

    .subnav {
      position: relative;
      width: 7vw;
      a, button {
        font-size: 0.875rem;
        width: 6.5vw;
      }
    }
  }
}

app-root {
  height: 100vh;
  width: 92vw;
  overflow: auto;

  background-image: var(--gradient-cloud);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    align-items: center;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}