* {
  background-color: var(--color-evergreen-accent);
}

.display-wrapper { height: 600px; border: 2px solid #eee; border-radius: 8px; overflow: hidden; }
.project-frame { width: 100%; height: 100%; border: none; }